body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRn8k5tEDr5rrpgEIzmPCXjZaBdAQezvCIkbQ&usqp=CAU);
}

#welcome-section {
  padding-top: 65px;
  display: flex;
  justify-content: center;
  color:rgb(214, 209, 209);
  font-size: 8.6vh;
}
#welcome-section h1 {
  
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}


h2 {
  font-size: 6.2vh;
  color: rgb(214, 209, 209);
}

#title {
  display:none;
}


.navigation {
  display:flex;
  justify-content: flex-end;
 
}

 #nav-list {
  background: rgb(110, 99, 97);
  margin:0px;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  top: 20px;
  right: 0px;
  list-style-type:none;

}



#nav-list a{
  color: azure;
  display: block;
  font-size:inherit;
  padding:10px;
 
}

#nav-list a:hover {
  background:rgb(15, 15, 15);
  color:azure;
  border-radius: 25%;
}



/*Universal selectors for the Projects section*/
#projects{
text-align: center;
padding-top: 75px;
}



/*Intro text to Projects section*/
#projects-heading {
  max-width: 640px;
  margin: 0 auto 4rem auto;
  border-bottom: 0.2rem solid;
}

/*How Projects are arranged*/
div.projects-grid{
  display:flex;
  
  justify-content: center;
  flex-direction: column;
  height: 3fr;
  

}

a.project-tile {
display:flex;
height:1fr;
justify-content: center;

  
}

/*Project image itself*/
.project-image {
  width: 35%;
}

/* Title underneath project image*/
.project-title {
  
  justify-content:center;
  margin: auto;
  height: 1fr;
}

#project-1 {
background-color: teal;
}

#project-2 {
background-color: slategrey;
}

#project-3 {
background-color:tomato;
}


/*ul#projects-list {
  display: flex;
  flex-direction: row;
  padding: 8rem 2rem;
  width:1fr;
  justify-content:space-evenly;
}*/