* {
  padding: 0;
  margin: 5px;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  display: block;
}

#title {
  display:none;
}


.navigation {
  display:flex;
  justify-content: flex-end;
  
}

 .nav-list {
  
}


.nav-list a {
  
}

.nav-list a:hover {
  
}

#welcome-section h1 {
  display: flex;
  justify-content: center;
  color: blueviolet;
}